.card-title{
	color: #4d8cf2
}
.card{
	margin-bottom: 10px;
}

.blogbuttons{
	margin-right: 10px;
}

.blogtitle{
	color:#4d8cf2;
}

.blogbody{
margin-right: 10px;
}

.blogback{
color: white;
}

.lead{
	color: #4db0f2;
}