html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing:inherit;
}
#faq_main{
    background-color: #949BA2;
}
#faq_intro{
    text-align: center !important;
    max-width:60%;
    margin:0 auto;
}
/*.displayedFAQ{

}
.myQuestions{
    FIx the css 
}*/
#questionDiv{
    text-align: center !important;
}
.faq_input{
    margin:20px;
    
}
#faqEmail{
    position: relative;
    left:15px;
}
/*#faq_theirName{

}*/
#quesDescription{
    position: relative;
    right:10px;
}