@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

.search{
    width: 100%;
}
.nav-center{
	text-align: center;
	margin: 0 auto;
}
.tab-overwrite{
	width: 100%;
	max-width: 100%;
}
.gainer-table{
	margin: 0 !important;
	padding: 0 !important;
}

.row-flex {
	display: flex;
	flex-wrap: wrap;
}

.page-wrap {
	width: 1000px;
}

.card-img-top {
	object-fit: cover;
}

.containter {
	margin: 0 auto !important;
	display: inline-block;
	width: 980px;
}

.b {
	min-height: 70px;
}

.navbar-text {
	width: 300px;
}

.mx-auto {
	font-size: 20px;
	text-align: center !important;
}

h1 {
	margin: 10px 10%;
	display: inline-block;
	width: 30%;
}
table {
	width: 80%;
	margin: 0 auto;
}

th {
	background: #40424C;
	color: white;
	font-weight: bold;
}

td {
	color: #949BA2;
}

td,
th {
	padding: 6px;
	text-align: left;
	border-bottom: 1px solid #949BA2;
}


tr {
	background-color: #40424C;
}
.btn-search {
	background: #424242;
	border-radius: 0;
	color: #fff;
	border-width: 1px;
	border-style: solid;
	border-color: #1c1c1c;
	padding-top: 12px;
}

.btn-search:link,
.btn-search:visited {
	color: #fff;
}

.btn-search:active,
.btn-search:hover {
	background: #1c1c1c;
	color: #fff;
}

.search {
	width: 1000px !important;
}

.edit {
	float: right;
}

/*
Responsive Table
*/

@media only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px) {

	table,
	thead,
	tbody,
	th,
	td,
	tr {
		display: block;
		width: 100%;
	}

	.header-search {
		margin: 10px 0;
	}

	h1 {
		display: inline-block;
		margin: 10px 30px;
	}

	.fa-cog {
		width: 60%;
	}

	.wrapper {
		margin-bottom: 70px;
	}

	.container {
		width: 100%;
	}

	thead tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}

	tr {
		border: 1px solid #ccc;
	}

	td {
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee;
		position: relative;
		padding-left: 50%;
	}


	td:before {
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%;
		padding-right: 10px;
		white-space: nowrap;
		font-weight: bold;

	}

	/*
 Label the data
 */
	tr:nth-child(even) {
		background-color: lightgray;
	}

	td:nth-of-type(1):before {
		content: "Ticker";
	}

	td:nth-of-type(2):before {
		content: "Company";
	}

	td:nth-of-type(3):before {
		content: "Shares";
	}

	td:nth-of-type(4):before {
		content: "Prince";
	}

	td:nth-of-type(5):before {
		content: "Initial Value";
	}

	td:nth-of-type(6):before {
		content: "Market Value";
	}

	td:nth-of-type(7):before {
		content: "P/L";
		color: #949BA2;
	}
}

@media only screen and (max-width: 760px) {
	h1 {
		margin: 10px 5px;
	}

	.fa-cog {
		width: 65%;
	}

	.search {
		margin: 15px;
	}
}

/* Footer */

#footer .section-title {
	text-align: center;
	color: #007b5e;
	margin-bottom: 50px;
	text-transform: uppercase;
}

#footer {
	margin-top: 20px;
	padding: 20px 10px;
	text-align: center !important;
	background: #343A40 !important;
}

#footer h5 {
	padding-bottom: 6px;
	margin-bottom: 20px;
	color: #ffffff;
}

#footer a {
	color: #ffffff;
	text-decoration: none !important;
	background-color: transparent;
	-webkit-text-decoration-skip: objects;
}

#footer ul.social li {
	padding: 3px 0;
	font-size: 20px;
}

#footer ul.social li a i {
	margin-right: 5px;
	font-size: 25px;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}

#footer ul.social li:hover a i {
	font-size: 30px;
	margin-top: -10px;
}

#footer ul.social li a,
#footer ul.quick-links li a {
	color: #ffffff;
}

#footer ul.social li a:hover {
	color: #eeeeee;
}

#footer ul.quick-links li {
	padding: 3px 0;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}

#footer ul.quick-links li:hover {
	padding: 3px 0;
	margin-left: 5px;
	font-weight: 700;
}

#footer ul.quick-links li a i {
	margin-right: 5px;
}

#footer ul.quick-links li:hover a i {
	font-weight: 700;
}

.footer-align {
	text-align: center;
}

@media (max-width:767px) {
	#footer h5 {
		padding-left: 0;
		border-left: transparent;
		padding-bottom: 0px;
		margin-bottom: 10px;
	}
}

/*===============================================HOMEPAGE =============================================================*/
.home-container {
	display: grid;
	grid-template-columns: 65% 35%;
}

.home-portfolio,
.home-watchlist {}

.home-portfolio-title {
	margin: 10px 10%;
	display: inline-block;
	width: 30%;
}

.home-icon {
	font-size: 30px;
}

.home-status {
	/*    background-color: aquamarine;*/
	margin-top: 20px;
	margin-right: 20px;
	grid-row: 1/3;
	grid-column: 2/3;
}

@media only screen and (max-width: 760px) {
	.home-container {
		display: grid;
		grid-template-columns: 100%;
	}

	.home-status {
		margin-right: 20px;
		grid-row: 0;
		grid-column: 0;
	}
}
/*=============================================== EDIT PORTFOLIO =============================================================*/
.input-group>.input-group-prepend {
    flex: 0 0 30%;
}
.input-group .input-group-text {
    width: 100%;
}
.edit-btn, .delete-btn{
    padding: 0;
    border: none;
    background: none;
}
.fa-edit{
    font-size: 25px;
    color: #0056B3;
}
.fa-trash-alt{
    font-size: 25px;
    color: #DC143C;
}
.fa-plus {
	margin-left: 33%;
	text-align: right;
	font-size: 40px;
	color: green;
}
.fa-cog{
    text-align: right;
    font-size: 40px;
    margin-left: 1%;  
}
/*===============================================CHART=============================================================*/
.chart-wrapper {
	margin-top: 20px;
}

.row-chart {
	display: inline-block;
	float: right;
	margin-right: 10%;
}

.chart-title {
	margin-left: 13%;
	margin-top: 50px;
	display: inline-block;
	margin-right: 10px;
}
.chart-subtitle{
    display: inline-block;
}
.chart-price{
    margin-left: 5px;
}
.chart-search {
	width: 20%;
	margin-left: 12%;
	display: inline-block;
    margin-bottom: 30px;
}
.fa-arrow-up, .fa-arrow-down{
    margin-right: 5px;
    margin-left: 5px;
}

/*===============================================SEARCH RESULT =====================================================*/
#chartContainer {
	height: 400px;
	width: 80%;
	margin: 0 auto;
	margin-bottom: 100px;
}
.img {
	width: 70%;
	margin: 0 180px;
}

.news {
	margin-left: 180px;
}

.sr-title {
	margin-top: 50px;
	margin-left: 15%;
	width: 60%;
}
.desc{
    margin-top: -50px;
}
.hr {
	margin-left: 15%;
	width: 70%;
}
.wrapper{
    margin-left: 10%;
    margin-right: 7%;
}
/*
.row{
    border: 1px solid grey;
}
*/
.search-wrapper{
    width: 95%;
    margin: auto;
}
.a:nth-child(odd){
    font-weight: bold;
    color:darkgray;
}
.search-form{
    margin-top: 10px;
    float: right;
    margin-right: 10px;
}
.search-news{
    background: #F9F9FF;
    padding: 25px;
}
.add-port{
    margin-left: 180px;
}
/*=============================================== Dividends =============================================================*/
.dividend{
	margin:20px;
}
.port-wrapper{
	margin-left:20%;
	display:inline-block !important;
}
/*=============================================== Events ===================================================================*/
#event_main{
    background-color: #949BA2;
}
#eventH1{
    position: relative;
    left:450px;	
}
.eventPhoto{
    position: relative;
    left:175px;
    top:25px;
    width:75px;
}
.eventDescription{
    max-width:75%;
    margin:0 auto;
}
.IndEvent{
    text-align: center;
}
.myEvents{
	list-style-type: none;
}
@media only screen and (max-width: 1200px) {
	#eventH1{
		position: relative;
		left:400px;	
	}
}
@media only screen and (max-width: 900px) {
	#eventH1{
		position: relative;
		left:400px;	
		font-size:1em;
	}
	.eventPhoto{
		position: relative;
		left:100px;
		top:25px;
		width:50px;
	}
	#eventMain{
		font-size: .75em;
	}
	.myEvents{
		font-size: .75em;
	}
	.eventtitle{
		font-size: .75em;
	}
}
@media only screen and (max-width: 700px) {
	#eventH1{
		position: relative;
		left:300px;	
	}
}
@media only screen and (max-width: 550px) {
	#eventH1{
		position: relative;
		left:200px;	
	}
}
@media only screen and (max-width: 360px) {
	#eventH1{
		position: relative;
		left:150px;	
	}
}
/*=============================================== FAQ ======================================================================*/
.center-div{
	margin:0 auto;
} 
#faq_main{
    background-color: #949BA2;
}
#faq_intro{
    text-align: center !important;
    max-width:60%;
    margin:0 auto;
}

.displayedFAQ{
margin-bottom: 100px;
}
.myQuestions{
  list-style-type: none;  
}

#faqTheirName{
	margin:20px;
}
#faqEmail{
	text-align: center !important;
	margin:20px;
}
#questionDiv{
    text-align: center !important;
}
#quesDescInput{
	height:100px;
}
.faq_input{
    margin:20px;
}
.faqSuccess{
	position: relative;
	left:650px;
}
#quesDescription{
	margin:20px;
}
#submitFAQ{
	border-radius: 50px;
	width:150px;
	position: relative;
	left:250px;
	margin:50px;
}
/*Used Boostrap for responsiveness */